<h2>Choisir une voiture</h2>

<div class="cars">
  <ul class="list-cars" *ngFor="let car of cars" (click)="onSelect(car)">
				<li class="brand">
			{{car.brand}}
		</li> 
  	<li>
			{{car.plateNumber}}
		</li> 
		<li>{{car.price}} €/jour</li>
  	<div *ngIf="car.rented == false" style="color:green">
  		A LOUER
  	</div>
  	<div *ngIf="car.rented == true" style="color:red">
  		DEJA LOUEE
		</div>
		<br>
  </ul>
</div>

<div class="div-options" *ngIf="selectedCar">
  <p>Vous avez choisi la {{selectedCar.brand}} !</p>
  <button (click)="gotoDetail()">Options</button>
</div> 