<h2>Ajouter une voiture au catalogue</h2>
<div class="container">  
  <form  #f="ngForm" (submit)="onSubmit(f)">
    <div class="form-group">
      <label for="plateNumber">IMMATRICULATION</label>
      <input type="text" class="form-control" id="plateNumber" name="plateNumber" ngModel required>
    </div>
<br>
    <div class="form-group">
      <label for="brand">MARQUE</label>
      <input type="text" class="form-control" id="brand" name="brand" ngModel required>
    </div>
<br>
    <div class="form-group">
      <label for="price">PRIX</label>
      <input type="text" class="form-control" id="price" name="price" ngModel required>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <button (click)="goBack()">Retour</button>
  </form>

</div>
