<!--The content below is only a placeholder and can be replaced.-->
<div class="div-nav">
<!-- <p>Projet AJD</p> -->
  <nav>
    <a routerLink="/cars">Louer / Rendre une voiture</a>
    <a routerLink="/addcars">Ajouter une voiture</a>
    <a routerLink="/contact">Contact</a>
  </nav>
</div>
<br>
<br>
  <div style="text-align:center">
      <h1>
        Avancer ensemble
      </h1>
      <!-- <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button> -->
  </div>


<router-outlet></router-outlet>
