<h2>Options de location </h2>
<div *ngIf="car" class="div-options">
  <ul>
  	<li>Marque: {{car.brand}}</li>
  	<li>Prix journalier: {{car.price}} euros</li>
  	<li>Plaque d'immatriculation: {{car.plateNumber}}</li>
  </ul>
  <div *ngIf="car.rented == false">
  <button (click)="rent(car)">Louer le vehicule</button>
  </div>
  <div *ngIf="car.rented == true">
  <button (click)="cancelRental(car)">Rendre le vehicule</button>
  </div>
  <button (click)="goBack()">Retour</button>
  <br>
</div>


