/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
    /* Application-wide Styles */
    nav {
        background-color: black;
        display: inline-block;
        text-align: center ;
        margin: 0;
        padding: 0;
    }
    .div-nav {
        background-color: black;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        display: inline-block;
        text-align: center ;
    }
    .cars {
        margin-left: 10%;
        margin-right: 10%;
        display: inline-block;

    }
    .list-cars {
        display:inline-table;
        border-color: black; 
        border-width: 2px;
    }
    .brand {
        font-size: 125%;
        font-weight: bolder;
    }
    .div-options {
        display: inline-block;
        margin-left: 10%;
    }
    .container {
        margin-left: 10%;
    }
    h1 {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 250%;
        font-style: italic;
        margin: 10px;
    }
    h2 {
        margin-left: 10%;
        margin-right: 10%;
        background-color: black;
        color: white;
        padding: 10px;
    }
    h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    }
    body {
    margin: 2em;
    }
    a, button {
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    }
    li {
    font-family: Arial, Helvetica, sans-serif;
    border: black;
    color: black;
    list-style-type: none;
    margin-bottom: 4px;
    }
    .form-group{
        /* max-width: 500px;
        padding: 20px 12px 10px 20px; */
        font-family: Arial, Helvetica, sans-serif;
    }
    .form-group-heading{
        font-weight: bold;
        font-style: italic;
        border-bottom: 2px solid #ddd;
        margin-bottom: 20px;
        font-size: 15px;
        padding-bottom: 3px;
    }
    .form-group label{
        display: block;
        font-weight: bold;
    }
    .form-group label > span{
        width: 100px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
    }
    .form-group span.required{
        color:red;
    }
    input {
        border-radius: 0.2rem;
        margin-top: 5px;
        width: 200px;
        height: 20px;
    }
    label {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
    /* everywhere else */
    * {
    font-family: Arial, Helvetica, sans-serif;
    }

    /* credit logo Car by REVA from the Noun Project */